* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
    font-family: Arial, sans-serif; /* Нормализация шрифта */
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    overflow: visible; /* 3 */
}

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

a {
    background-color: transparent; /* 1 */
}

abbr[title] {
    text-decoration: underline; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

small {
    font-size: 80%;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    bottom: 0.25em;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: 0.25em;
}

ul,
ol {
    padding-left: 1.5em;
}

table {
    border-collapse: collapse;
}

button,
input {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 2 */
    line-height: inherit; /* 3 */
}

button,
button {
    overflow: visible;
}

button,
input {
    /* 1 */
    margin: 0;
}

button {
    /* 1 */
    text-transform: none; /* 2 */
}

input {
    /* 1 */
    overflow: visible;
}

textarea {
    overflow: auto;
}

[hidden] {
    display: none;
}

.gifs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main{
  text-align: center;
}