ul, li{
  list-style: none;
}
.item{
  display: flex;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
margin-bottom: 15px;
width: fit-content;
border-radius: 5px;
align-items: center;
}
.friend-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}